body{/*backgrouhnd color*/
background-color: darkviolet;margin: 4%;}
p { ;
 color: yellow; padding-bottom: 30px;padding-top: 30px;}
h1
{ text-align:center ;
 color: yellow;font-style: oblique;}
a{  text-decoration: none;
    border-radius: 10px;
    center: text ;
    color: black; 
    padding: 10px;
    background-color: yellow;
    text-align: center;
    width: 200%;
    border-bottom: 20px;
}

a:hover {color: firebrick;
    background-color: black;
}
img{
    margin: 20px;  border-width: 2px; border-color: red; border-style: solid;}
.b{color: yellow;margin: 3px;
  border:double greenyellow;
  padding: 9px;}
.center{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;}
table{width: 100%;}
th {
    width: 300px;
}